.main-page {
    position: relative;
    left: 200px;
    min-height: 100vh;
    background-image: url('../../core/images/authentication_bg.svg');
    padding: 0px 20px;
    width: calc(100vw - 200px);
}

.page-content {
    position: relative;
    padding-top: 60px;
    padding-bottom: 16px;
}

.page-content>h1 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: 0.2px;
    color: #9A9A9A;
    margin-bottom: 30px;
}

.search-container {
    max-width: 547px;
    position: relative;
    height: 42px;
    margin-bottom: 10px;
}

.search-container > input {
    width: 100%;
    min-width: 0px;
    height: 100%;
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    padding-left: 11px;
    padding-right: 50px;
}

.search-container > button {
    background-color: #8DC63F;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 42px;
    height: 100%;
    position: absolute;
    right: 0px;
}

.sortby-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1rem;
    color: #9A9A9A;
    margin-bottom: 30px;
}

.sortby-component {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.sortby-component:first-of-type > div:last-child {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 3px;
}

.sortby-container select {
    width: 150px;
    height: 42px;
    color: #9A9A9A;
    background: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    padding: 0px 5px;
}

.listings-table-container {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0px 0px 25px;
    overflow-x: auto;
}

.listings-table {
    width: 100%;
    min-width: 1000px;
}

.listings-table tr {
    height: 40px;
}

.listings-table tr > th:first-of-type,
.listings-table tr > td:first-of-type {
    padding-left: 15px;
}

.listings-table tr > td:last-of-type > div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}

.listings-table tr > td {
    color: #9A9A9A;
    font-size: .875rem;
    line-height: 1rem;
}

.listings-table tbody tr:nth-child(odd) {
    background-color: #F1F1F1;
}

.no-record-row {
    text-align: center;
    font-size: 1.5rem!important;
    color: black!important;
    font-weight: 700;
}

.pagination-container {
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 30px;
    padding-right: 5px;
}

.pagination-container > span {
    color: #9A9A9A;
}

.pagination-container > div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination-container > div > svg:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}