{% load static %}
{% load custom_tags %}
<table class="listings-table">
    <thead>
        <tr>
            <th>Ref</th>
            <th>Date</th>
            <th>User</th>
            <th>Plan</th>
            <th>Property Type</th>
            <th>Price</th>
            <th>City</th>
            <th>Neighbourhood</th>
            <th>Boosted</th>
        </tr>
    </thead>
    <tbody>
        {% if listings.data %}
        {% for obj in listings.data %}
        <tr>
            <td>{{obj.id}}</td>
            <td>{{obj.created_at|custom_date:"d/m/Y"}}</td>
            <td>{{obj.user.first_name}} {{obj.user.last_name}}</td>
            <td></td>
            <td>{{obj.property_type|title}}</td>
            <td>${{obj.price|floatformat:"2g"}}</td>
            <td>{{obj.city}}</td>
            <td>{{obj.neighbourhood}}</td>
            <td>
                <span class="boost-field">{% if obj.is_boosted %}YES{% else %}NO{% endif %}</span>
            </td>
            <td>
                <div>
                    {% if obj.is_boosted %}
                    <img src="{% static 'Assets/core/images/promotion_logo_on.svg' %}" class="cursor-pointer" onclick="boostAd(event, '{{obj.id}}', false)" alt="promotion" />
                    {% else %}
                    <img src="{% static 'Assets/core/images/promotion_logo.svg' %}" class="cursor-pointer" onclick="boostAd(event, '{{obj.id}}', true)" alt="promotion" />
                    {% endif %}

                    {% if obj.is_reserved %}
                    <img src="{% static 'Assets/core/images/reserved_logo_on.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', false)" alt="promotion" alt="reserved" />
                    {% else %}
                    <img src="{% static 'Assets/core/images/reserved_logo.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', true)" alt="reserved" />
                    {% endif %}
                    
                    <img src="{% static 'Assets/core/images/editing_logo.svg' %}" class="cursor-pointer" onclick="toggleListingView(event, {id:'{{obj.id}}', created_at:'{{obj.created_at}}', description:`{{obj.description}}`, criteria:'{{obj.criteria}}', price:'{{obj.price}}', property_type:'{{obj.property_type}}', land:'{{obj.land}}', construction:'{{obj.construction}}', neighbourhood:'{{obj.neighbourhood}}', bedrooms:'{{obj.bedrooms}}', bathrooms:'{{obj.bathrooms}}', city:'{{obj.city}}', parking:'{{obj.parking}}', antiquity:'{{obj.antiquity}}', location:'{{obj.location}}', ameneties:'{{obj.ameneties}}', images: {{obj.images}}});" id="edit-listing-btn" alt="edit" />
                    <img src="{% static 'Assets/core/images/delete_logo.svg' %}" class="cursor-pointer" onclick="openDelListingModal('del-listing', '{{obj.id}}')" alt="delete" />
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="10" class="no-record-row">No record available</td>
        </tr>
        {% endif %}
    </tbody>
</table>
{% if listings.data %}
<div class="pagination-container">
    <span>{{listings.pagination|page_number}}</span>
    <div>
        <svg class="{% if listings.pagination.links.previous is None %}cursor-not-allowed{% endif %}"
            onclick="getListings(event, '{% if listings.pagination.links.previous is not None %}{{listings.pagination.links.previous}}{% else %}null{% endif %}');"
            width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 18L9.07071 12.0707C9.03166 12.0317 9.03166 11.9683 9.07071 11.9293L15 6" stroke="#9A9A9A"
                stroke-width="2" stroke-linecap="round" />
        </svg>
        <svg class="{% if listings.pagination.links.next is None %}cursor-not-allowed{% endif %}"
            onclick="getListings(event, '{% if listings.pagination.links.next is not None %}{{listings.pagination.links.next}}{% else %}null{% endif %}');"
            width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 18L14.9293 12.0707C14.9683 12.0317 14.9683 11.9683 14.9293 11.9293L9 6" stroke="#9A9A9A"
                stroke-width="2" stroke-linecap="round" />
        </svg>
    </div>
</div>
{% endif %}