{% load static %}
{% load custom_tags %}
{% if is_mobile %}
    {% if listings.data %}
    {% for obj in listings.data %}
    <div class="mobile-card listing-mobile-card">
        <div class="mobile-details">
            <div class="mobile-card-image">
                <img src="{{obj.images.0.image}}" loading="lazy" alt="Property Image" />
            </div>
        </div>
        <div class="property-details">
            <span>{{obj.property_type|title}}</span>
            <span>{{obj.neighbourhood|title}}</span>
            <div class="property-detail-attributes">
                <div>
                    <div>
                        <img src="{% static 'Assets/core/images/area_logo.svg' %}" alt="area">
                        <span>{{obj.construction}} m<sup>2</sup></span>
                    </div>
                    <div>
                        <img src="{% static 'Assets/core/images/house_logo.svg' %}" alt="house">                                        
                        <span>{{obj.land}} m<sup>2</sup></span>
                    </div>
                </div>
                <div>
                    <div>
                        <img src="{% static 'Assets/core/images/bed_logo.svg' %}" alt="bed">
                        <span>{{obj.bedrooms}}</span>                                        
                    </div>
                    <div>
                        <img src="{% static 'Assets/core/images/bathroom_logo.svg' %}" alt="bathroom">
                        <span>{{obj.bathrooms}}</span>                                     
                    </div>
                </div>
                <div>
                    <span>${{obj.price|floatformat:"2g"}}</span>
                    <div class="property-actions">
                        {% if obj.is_boosted %}
                        <img src="{% static 'Assets/core/images/promotion_logo_on.svg' %}" class="cursor-pointer" alt="promotion" />
                        {% else %}
                        <img src="{% static 'Assets/core/images/promotion_logo.svg' %}" class="cursor-pointer" onclick="openBoostAdModal('boost-ad', '{{obj.id}}')" alt="promotion" />
                        {% endif %}
                        
                        {% if obj.is_reserved %}
                        <img src="{% static 'Assets/core/images/reserved_logo_on.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', false)" alt="promotion" alt="reserved" />
                        {% else %}
                        <img src="{% static 'Assets/core/images/reserved_logo.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', true)" alt="reserved" />
                        {% endif %}

                        <!-- <img src="{% static 'Assets/core/images/reserved_logo.svg' %}" alt="Reserved Button" /> -->
                        <img src="{% static 'Assets/core/images/editing_logo.svg' %}" id="edit-listing-btn" onclick="toggleListingView(event, {id:'{{obj.id}}', created_at:'{{obj.created_at}}', description:`{{obj.description}}`, criteria:'{{obj.criteria}}', price:'{{obj.price}}', property_type:'{{obj.property_type}}', land:'{{obj.land}}', construction:'{{obj.construction}}', neighbourhood:'{{obj.neighbourhood}}', bedrooms:'{{obj.bedrooms}}', bathrooms:'{{obj.bathrooms}}', city:'{{obj.city}}', parking:'{{obj.parking}}', antiquity:'{{obj.antiquity}}', location:'{{obj.location}}', ameneties:'{{obj.ameneties}}', images: {{obj.images}}})" alt="Editing Button" />
                        <img src="{% static 'Assets/core/images/delete_logo.svg' %}" onclick="openDelListingModal('del-listing', '{{obj.id}}')" alt="Delete Button" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
{% else %}
    {% if listings.data %}
    {% for obj in listings.data %}
        <tr>
            <td scope="row">
                <div class="form-check listing-checkbox">
                    <input class="form-check-input listing-checkbox-input" type="checkbox" value=""
                        id="flexCheckDefault">
                </div>
            </td>
            <td>
                <div class="property-image">
                    <img src="{{obj.images.0.image}}" loading="lazy" alt="Property Image" />
                </div>
            </td>
            <td>{{obj.created_at|custom_date:"d, F, Y"}}</td>
            <td>{{obj.property_type|title}}</td>
            <td>{{obj.neighbourhood|title}}</td>
            <td>{{obj.construction}}m<sup>2</sup></td>
            <td>{{obj.land}}m<sup>2</sup></td>
            <td>{{obj.bedrooms}}</td>
            <td>{{obj.bathrooms}}</td>
            <td>${{obj.price|floatformat:"2g"}}</td>
            <td>
                <div class="property-actions">
                    {% if obj.is_boosted %}
                    <img src="{% static 'Assets/core/images/promotion_logo_on.svg' %}" class="cursor-pointer" alt="promotion" />
                    {% else %}
                    <img src="{% static 'Assets/core/images/promotion_logo.svg' %}" class="cursor-pointer" onclick="openBoostAdModal('boost-ad', '{{obj.id}}')" alt="promotion" />
                    {% endif %}

                    {% if obj.is_reserved %}
                    <img src="{% static 'Assets/core/images/reserved_logo_on.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', false)" alt="promotion" alt="reserved" />
                    {% else %}
                    <img src="{% static 'Assets/core/images/reserved_logo.svg' %}" class="cursor-pointer" onclick="reserveListing(event, '{{obj.id}}', true)" alt="reserve" />
                    {% endif %}

                    <img src="{% static 'Assets/core/images/editing_logo.svg' %}" id="edit-listing-btn" onclick="toggleListingView(event, {id:'{{obj.id}}', created_at:'{{obj.created_at}}', description:`{{obj.description}}`, criteria:'{{obj.criteria}}', price:'{{obj.price}}', property_type:'{{obj.property_type}}', land:'{{obj.land}}', construction:'{{obj.construction}}', neighbourhood:'{{obj.neighbourhood}}', bedrooms:'{{obj.bedrooms}}', bathrooms:'{{obj.bathrooms}}', city:'{{obj.city}}', parking:'{{obj.parking}}', antiquity:'{{obj.antiquity}}', location:'{{obj.location}}', ameneties:'{{obj.ameneties}}', images: {{obj.images}}})" alt="Editing Button" />
                    <img src="{% static 'Assets/core/images/delete_logo.svg' %}" onclick="openDelListingModal('del-listing', '{{obj.id}}')" alt="Delete Button" />
                </div>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="11" class="no-record-row">No record available</td>
        </tr>
        {% endif %}
{% endif %}