<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="google-adsense-account" content="ca-pub-9238411539097724">

    {% load static %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link href="https://db.onlinewebfonts.com/c/a78cfad3beb089a6ce86d4e280fa270b?family=Calibri" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'Assets/core/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/core/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'Assets/core/css/footer.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'Assets/core/images/favicon.svg' %}">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9238411539097724" crossorigin="anonymous"></script>

    {% block links %}

    {% endblock %}

    <title>{% block title %} {% endblock %}</title>
</head>

<body>

    {% include '../includes/navbar.html' %}

    {% block body %}
    {% endblock %}

    {% include '../includes/footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>
<script src="{% static 'Assets/core/js/common.js' %}"></script>
{% block scripts %}
{% endblock %}

</html>