<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/admin-base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/administration/css/plans.css' %}" />

    {% endblock %}

    <title>{% block title %}Admin Plans{% endblock %}</title>
</head>

<body>
    {% block body %}
    <div class="main-page">
        <div class="page-content">
            <h1>Plans</h1>
            <div class="plan-container">
                {% if plans %}
                {% for obj in plans.data %}
                <div class="plan-card">
                    <div class="plan-number">
                        <span>Plan {{forloop.counter}}</span>
                    </div>
                    <div class="plan-inputs">
                        <div class="input">
                            <span>Name</span>
                            <input type="text" name="name" value="{{obj.name}}" id="" />
                        </div>
                        <div class="input">
                            <span>Number of Listings</span>
                            <input type="number" name="num_of_listings" value="{{obj.num_of_listings}}" id="" />
                        </div>
                        <div class="input">
                            <span>Number of Images</span>
                            <input type="number" name="num_of_images" value="{{obj.num_of_images}}" id="" />
                        </div>
                        <div class="input">
                            <span>Price</span>
                            <input type="number" name="price" value="{{obj.price}}" id="" />
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <button type="submit" class="save-plan-btn">
                <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                <span class="btn-text">Save Changes</span>
            </button>
        </div>
    </div>
    {% endblock %}
</body>

</html>