<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/admin-base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/administration/css/publicity.css' %}" />

    {% endblock %}

    <title>{% block title %}Admin Publicity{% endblock %}</title>
</head>

<body>
    {% block body %}
    <div class="main-page">
        <div class="page-content">
            <h1>Paid Publicity</h1>
            <div class="publicity-card-container">
                {% if publicity %}
                {% for obj in publicity.data %}
                <form class="publicity-card" onsubmit="submitPublicityForm(event, '{{obj.id}}');">
                    {% csrf_token %}
                    <div class="publicity-card-header">
                        <span>{{obj.name}}</span>
                        <span>({{obj.width}}x{{obj.height}})</span>
                    </div>
                    <div class="publicity-card-content">
                        <div class="image-input-container">
                            <label for="home-page{{forloop.counter}}" class="image-input-label">
                                {% if obj.picture != None %}
                                <img class="publicity-img" src="{{obj.picture}}" alt="Publicity Image" />
                                <img class="uploader-logo hide" src="{% static 'Assets/administration/images/uploader_logo.svg' %}" alt="Uploader Logo" />
                                <span class="uploader-text hide">Upload Image</span>
                                {% else %}
                                <img class="publicity-img hide" alt="Publicity Image" />
                                <img class="uploader-logo" src="{% static 'Assets/administration/images/uploader_logo.svg' %}" alt="Uploader Logo" />
                                <span class="uploader-text">Upload Image</span>
                                {% endif %}
                                <input type="file" id="home-page{{forloop.counter}}" accept="image/jpeg, image/jpg, image/png, image/gif" name="picture" onchange="previewImage(event);" />
                            </label>
                        </div>
                        <div class="publicity-input">
                            <span>URL</span>
                            <input type="url" value="{{obj.url}}" name="url" id="" />
                        </div>
                        <button type="submit" class="save-publicity-btn">
                            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                            <span class="btn-text">Save Changes</span>
                        </button>
                    </div>
                </form>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
</body>

{% block scripts %}
<script src="{% static 'Assets/administration/js/publicity.js' %}"></script>
{% endblock %}

</html>