.top-page-ad {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;
    margin-bottom: 30px;
}

.top-page-ad > div {
    width: 86%;
    max-width: 970px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B1B1B1;
}

.my-ads-section {
    background-image: url('../images/authentication_bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-ads-container {
    margin-bottom: 60px;
    padding: 0px 50px;
}

input[name="my_ads_radio"] {
    display: none;
}

input[name="my_ads_radio"]:checked + .radio-label{
    color: #9A9A9A;
    background-color: #FFFFFF;
}

.my-ads-radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-ads-radio-btn {
    position: relative;
    width: 217px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-ads-radio-btn .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    background-color: #8DC63F;
    border-radius: 5px 5px 0px 0px;
    transition: all ease .2s;
    cursor: pointer;
}

.login-auth-content,
.register-auth-content {
    padding: 36px 57px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    max-width: 434px;
}

.listing-table-container,
.favourite-table-container,
.profile-content-container {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    position: relative;
    overflow-x: auto;
    width: calc(100vw - 100px);
}

.listing-table-container, .favourite-table-container {
    padding-top: 40px;
}

.favourite-table-container {
    padding: 0px 50px;
    padding-top: 40px;
}

.profile-content-container {
    padding: 77px 57px;
}

.listing-table-container > table,
.favourite-table-container > table {
    min-width: 1100px;
    vertical-align: middle;
    margin-bottom: 10px;
}

.listing-table-container > table > thead,
.favourite-table-container > table > thead {
    height: 40px;
}

.listing-table-container > table > thead > tr,
.favourite-table-container > table > thead > tr {
    text-align: center;
    border-bottom: 1px solid #D2D2D2;
}

.listing-table-container > table > thead > tr > th,
.favourite-table-container > table > thead > tr > th {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    vertical-align: middle;
}

.listing-table-container > table > tbody > tr,
.favourite-table-container > table > tbody > tr {
    height: 96px;
    text-align: center;
    border-bottom: 1px solid #D2D2D2;
}

.listing-table-container > table > tbody > tr > td,
.favourite-table-container > table > tbody > tr > td {
    font-weight: 300;
    font-size: .875rem;
    line-height: 1rem;
    color: #000000;
} 

.send-col {
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-col > span {
    background-color: #8DC63F;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 5px;
    width: 93px;
    height: 25px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.property-actions > img {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

/* .order-select {
    width: 100%;
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    height: 25px;
    font-size: .875rem;
    line-height: 1rem;
    color: #9A9A9A;
    padding: 3px 6px;
} */

.order-row {
    align-self: flex-end;
    position: relative;
    width: 150px;
}

.favourite-table-container .order-row {
    min-width: 150px;
    width: 100%;
}

.order-btn {
    width: 100%;
    height: 25px;
    border-radius: 5px;
    border: 0.5px solid #A3A3A3;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-btn > span {
    color: #9A9A9A;
    font-size: .875rem;
}

.order-dropdown {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
    top: 25px;
    z-index: 1;
    background-color: #FFFFFF;
    padding: 10px 6px;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #9A9A9A;
}

.radio-btn {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.radio-btn > label {
    width: 100%;
    border-radius: 2px;
    padding: 0px 4px;
    height: 100%;
    display: flex;
    align-items: center;
}

.radio-btn > label:hover {
    background-color: #DDDDDD;
}

.order-dropdown input {
    display: none;
}

.favourite-table-container .order-select {
    min-width: 150px;
}

.favourite-table-container .property-actions {
    justify-content: flex-end;
}

.favourite-table-container .property-actions > svg {
    pointer-events: all;
    cursor: pointer;
}

.favourite-property-checkbox {
    cursor: pointer;
}

.favourite-property-checkbox input[type=checkbox] {
    display: none;
}

/* .favourite-property-checkbox input[type=checkbox]:checked + svg > path {
    fill: #8DC63F;
    stroke: #8DC63F;
} */

.favourite-property-checkbox.active input[type=checkbox]:checked + svg > path {
    fill: #8DC63F;
    stroke: #8DC63F;
}

.listing-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listing-checkbox-input {
    width: 18px;
    height: 18px;
    background: #FFFFFF;
    border: 1px solid #CDCDCD;
    border-radius: 2px!important;
    box-shadow: none;
}

.form-check-input {
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
    border-color: #CDCDCD;
}

.listing-checkbox-input:checked[type=checkbox] {
    background-color: #FFFFFF;
    box-shadow: none;
    border-color: #CDCDCD;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%238DC63F' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.property-image {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property-image > img {
    width: 93px;
    height: 60px;
}


/* Styles if page loaded on mobile */

.mobile-view {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 19px 0px 60px 0px;
}

.mobile-card {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 0px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
    height: 123px;
}

.mobile-card.listing-mobile-card {
    height: fit-content;
    gap: 5px;
}

.listing-mobile-card .property-details {
    width: 100%;
}

.listing-mobile-card .property-actions {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8px;
}

.mobile-details {
    display: flex;
    gap: 15px;
}

.mobile-card-image {
    height: 100%;
}

.mobile-card-image > img {
    height: 100%;
    width: 121px;
}

.property-details {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.property-details > span {
    font-size: .875rem;
    color: #000000;
    overflow: hidden;
    text-overflow: ellipsis;
}

.property-detail-attributes {
    display: flex;
    flex-direction: column;
}

.property-detail-attributes > div {
    display: flex;
    gap: 10px;
    font-size: .75rem;
    line-height: .875rem;
}

.listing-mobile-card .property-detail-attributes > div:last-of-type {
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.property-detail-attributes > div:last-of-type > span {
    font-size: 1rem;
    line-height: 1rem;
}

/* Profile Section Styles */

.profile-content-container > div {
    display: flex;
    justify-content: center;
    gap: 77px;
    min-width: 800px;
}

.profile-photo-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.profile-photo-container > span {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9A9A9A;
}

.profile-image-container {
    width: 150px;
    height: 150px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid #00000017;
    border-radius: 6px;
}

.profile-image-container > img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.profile-image-container > input[type=file] {
    display: none;
}

.profile-image-container > label {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background: rgba(154, 154, 154, 0.5);
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}

.profile-image-container > label > span {
    font-weight: 300;
    font-size: .875rem;
    line-height: 1rem;
    color: #000000;
}


.profile-details {
    margin-top: 16px;
    display: flex;
    flex-wrap: wrap;
    gap: 76px;
}

.profile-details .column {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.profile-details .column .input {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.profile-details .column .mobile-input > div {
    position: relative;
    display: flex;
    align-items: center;
}

.profile-details .column .mobile-input > div > img {
    position: absolute;
    right: -35px;
}

.profile-details .column .input > label {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9A9A9A;
}

.profile-details .column .input input {
    width: 320px;
    height: 40px;
    padding: 0px 10px;
    background: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
}

/* input[name="phone"] {
    padding-left: 80px!important;
} */

.save-profile-details-btn {
    margin-top: 50px;
    width: 320px;
    height: 40px;
    background-color: #8DC63F;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
}

.plan-container {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.plan-container > span {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9A9A9A;
}

.plan-card-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.plan-card {
    background-color: #FFFFFF;
    /* border: 0.25px solid #9A9A9A; */
    border: 0.25px solid rgba(154, 154, 154, .75);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 22px 28px;
    display: flex;
    align-items: center;
    width: 433px;
    height: 140px;
    color: #9A9A9A;
    transition: all ease-in-out .2s;
}

.plan-card .plan-duration {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 142px;
}

.plan-card .plan-duration .plan-price > p {
    margin: 0px;
    font-family: "SF Pro Text Regular"!important;
}

.plan-card .plan-duration .plan-price > p > span:first-of-type {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-family: "SF Pro Text Regular"!important;
}

.plan-card .plan-duration .plan-price > p > span:last-of-type {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-family: "SF Pro Text Regular"!important;
}

.plan-card .plan-duration .plan-period {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
}

.plan-card .plan-duration .plan-period span {
    font-family: 'Calibri Light', 'Calibri', sans-serif;
}

.plan-card .plan-features > span {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.875rem;
}

.plan-card .plan-features ul {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
}

.plan-card .plan-features ul li {
    font-family: 'Calibri Light', 'Calibri', sans-serif;
}

.plan-card .plan-features ul li .focus {
    font-weight: 700;
    font-family: 'Calibri', sans-serif;
}

.change-plan-btn {
    width: 207px;
    height: 40px;
    background-color: #8DC63F;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    margin-top: 30px;
}

input[name="plan_radio"] {
    display: none;
}

input[name="plan_radio"]:checked + .plan-card{
    color: #FFFFFF;
    font-weight: 700;
    background-color: #8DC63F;
    border-color: #8DC63F;
}

.bottom-page-ad {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.bottom-page-ad > div {
    width: 86%;
    max-width: 970px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B1B1B1;
}


@media (max-width: 1439px) {
    .profile-content-container > div {
        gap: 60px;
    }

    .profile-details-container {
        width: 41%;
    }

    .profile-details {
        gap: 22px;
    }
}


@media (max-width: 1024px) {
    .profile-content-container > div {
        flex-wrap: wrap;
        min-width: 0;
    }

    .profile-details-container {
        width: 100%;
    }

    .profile-details-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .profile-details {
        width: 320px;
    }

    .change-plan-btn {
        margin-left: auto;
        margin-right: auto;
    }
}


@media (max-width: 768px) {
    .my-ads-container {
        width: calc(100vw - 20px);
        padding: 0;
    }

    .listing-table-container, .favourite-table-container, .profile-content-container {
        width: calc(100vw - 20px);
        border-radius: 0px 0px 5px 5px;
    }

    .listing-table-container, .favourite-table-container {
        padding: 0px 10px;
    }

}


@media (max-width: 480px) {
    .profile-content-container {
        padding: 35px 10px;
    }

    .profile-details {
        width: 100%;
    }

    .profile-details .column {
        width: 100%;
    }

    .profile-details .column .input input {
        width: 100%;
    }

    .save-profile-details-btn {
        width: 100%;
    }

    .profile-details .column .mobile-input > div > img {
        right: 5px;
    }

    .plan-container {
       width: 100%;
    }

    .plan-card {
        width: 100%;
        padding: 15px;
        height: 170px;
    }

    .plan-card .plan-duration {
        width: 100px;
    }

    .plan-card .plan-duration .plan-price > p > span:first-of-type {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }

    .plan-card .plan-duration .plan-price > p > span:last-of-type {
        font-size: .875rem;
        line-height: 1rem;
    }

    .plan-card .plan-duration .plan-period {
        font-size: .875rem;
    }

    .plan-card .plan-features > span {
        font-size: 1.2rem;
        line-height: 1.25rem;
    }

    .plan-card .plan-features ul li {
        margin: 4px 0px;
        font-size: .875rem;
        line-height: 1rem;
    }
}


/* ---------------------------- */

.back-btn {
    margin-bottom: 20px;
    padding-right: 2px;
}

.back-btn:hover {
    background-color: #E2E2E2;
}

.add-property-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-property-container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 47px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 0px 0px;
}

.add-property-container-header>span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #9A9A9A;
}

.add-property-main-content {
    width: 100%;
    padding: 50px 56px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.image-input-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.uploaded-image:hover .del-img-btn {
    display: inline;
}

.del-img-btn {
    display: none;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.property-description-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.property-description-input>span {
    font-size: 1rem;
    line-height: 1.125rem;
    color: #000000;
}

.property-description-input>textarea {
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    padding: 10px;
    resize: none;
}

.property-details-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.property-details-input-container p {
    margin: 0px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
}

input[id=image-input] {
    display: none;
}

.image-input-label {
    width: 93px;
    height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #F2F2F2;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.image-input-label:hover {
    background-color: #D8D8D8;
}

.image-input-label:hover > span {
    color: #606060;
}

.image-input-label>span {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #9A9A9A;
}

.uploaded-image-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.uploaded-image {
    width: 93px;
    aspect-ratio: 1 / .752688;
    background-color: #F2F2F2;
    border-radius: 5px;
    position: relative;
}

.uploaded-image>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.property-details-input-group {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.property-details-input-group small {
    display: block;
}

.criteria-radio-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

input::placeholder {
    color: #9A9A9A;
}

input[name="criteria"] {
    opacity: 0;
}

input[name="criteria"]:invalid + label {
    border: 2px solid #C63F3F;
}

input[name="criteria"]:checked+.radio-label {
    color: #FFFFFF;
    font-weight: 700;
    background-color: #8DC63F;
    border: 0.5px solid #8DC63F;
    border-radius: 2px;
}

.criteria-radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.criteria-radio-btn {
    position: relative;
    width: 150px;
    height: 40px;
}

.criteria-radio-btn .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 150px;
    height: 100%;
    background-color: #FFFFFF;
    border: 0.5px solid #9A9A9A;
    border-radius: 2px;
    position: absolute;
    top: 0px;
    transition: all ease .2s;
}

.general-input,
select {
    width: 150px;
    height: 40px;
    background-color: #FFFFFF;
    border: 0.5px solid #9A9A9A;
    border-radius: 2px;
    padding: 10px 14px;
}

.property-details-input-container input[type=text] {
    border-radius: 5px!important;
}

.neighbourhood-input>input,
.city-input>input {
    width: 320px;
}

.bedroom-input,
.bathroom-input {
    width: 320px;
}

.bedroom-count-radio-group {
    width: 100%;
    height: 40px;
}

.bedroom-count-radio-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    font-weight: 400;
    font-size: .75rem;
    line-height: .875rem;
    color: #000000;
    border: 0.5px solid #D2D2D2;
    transition: all ease-in-out .2s;
}

.bedroom-count-radio-group .btn-check:checked+.btn {
    background-color: #8DC63F;
    border-color: #8DC63F;
    font-weight: 600;
}

.bedroom-count-radio-group .btn-check:checked+.btn:hover {
    color: #FFFFFF;
    border-color: #8DC63F;
}

.bedroom-count-radio-group .btn-check+.btn:hover {
    color: #000000;
    border-color: #D2D2D2;
}

.other-inputs {
    display: flex;
    width: 100%;
    gap: 20px;
}

.location-input>.search-location {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location-input>.search-location>input {
    width: 320px;
    padding-right: 35px;
}

.location-input>.search-location>svg {
    position: absolute;
    right: 8px;
}

.location-input>.map-view {
    width: 100%;
    height: 200px;
}

.location-input>.map-view>iframe {
    width: 100%;
    height: 100%;
}

.amenety-input {
    width: 100%;
}

.amenety-input>p>span {
    font-weight: 300;
    font-size: .875rem;
    line-height: 1rem;
    color: #9A9A9A;
}

.tags-container {
    width: 100%;
    height: fit-content;
    min-height: 250px;
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
}

.tags-input {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding: 7px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    height: fit-content;
}

.tag {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #8DC63F;
    color: #FFFFFF;
    padding: 5px;
    border: 0.5px solid #8DC63F;
    border-radius: 2px;
    width: fit-content;
    height: 25px;
    font-size: .875rem;
    line-height: 1rem;
}

.tag button {
    display: flex;
    align-items: center;
    background-color: #8DC63F;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    height: 20px;
}

.tags-textbox {
    height: 25px;
    border: none;
    outline: none;
    font-size: .875rem;
    line-height: 1rem;
    color: #9A9A9A;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.publish-property-btn {
    height: 40px;
    width: 320px;
    background-color: #8DC63F;
    border: 1px solid transparent;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}

.gmnoprint {
    display: none!important;
}


@media (max-width: 768px) {
    .add-property-main-content {
        padding: 50px 20px;
    }

    .other-inputs {
        flex-wrap: wrap;
    }

    .location-input {
        width: 100%;
    }

    .location-input > .search-location {
        width: 100%;
    }

    .location-input>.search-location>input {
        width: 100%;
    }
}


@media (max-width: 480px) {
    .publish-property-btn {
        width: 100%;
    }
}


/* ---------------------------------------------------------- */

{% load static %}
{% if is_mobile %}

@media (max-width: 768px) {
    .favourite-table-container {
        padding-top: 0px;
        padding: 0px 10px;
    }
    
    .mobile-actions {
        align-self: center;
    }
    
    .order-row {
        width: 150px!important;
    }

    .property-actions > img {
        width: 18px;
        height: 18px;
    }
}

{% endif %}