.authentication-section {
    background-image: url('../images/authentication_bg.svg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authentication-container {
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px 5px 5px 5px;
}

input[name="authentication_radio"] {
    display: none;
}

input[name="authentication_radio"]:checked + .radio-label{
    color: #FFFFFF;
    background-color: #8DC63F;
}

.authentication-radio-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.authentication-radio-btn {
    position: relative;
    width: 217px;
    height: 50px;
}

.authentication-radio-btn .radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9A9A9A;
    background-color: #FFFFFF;
    border-radius: 5px 5px 0px 0px;
    transition: all ease .2s;
    cursor: pointer;
}

.login-auth-content,
.register-auth-content,
.post-registration-content {
    padding: 36px 57px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 5px 5px;
    max-width: 434px;
}

.third-party-auth-btn {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.third-party-auth-btn > button:first-of-type {
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #9A9A9A;
    width: 100%;
    height: 40px;
}

.third-party-auth-btn > button:last-of-type {
    background-color: #37589A;
    border: .5px solid #37589A;
    border-radius: 5px;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
}

.login-auth-content .input-container,
.register-auth-content .input-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.login-auth-content .input-group,
.register-auth-content .input-group {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.login-auth-content .input,
.register-auth-content .input {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.input-label {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #000000;
}

.input-field {
    width: 100%;
    height: 40px;
    background-color: #FFFFFF;
    border: 0.5px solid #A3A3A3;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.login-auth-content .password-input,
.register-auth-content .password-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.login-auth-content .password-input > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-auth-content .password-input > div:first-of-type > a {
    font-size: .875rem;
    line-height: 1rem;
    color: #8DC63F;
    text-decoration: none;
}

.login-auth-content .password-input > div:first-of-type > a:hover {
    text-decoration: underline;
}

.login-auth-content .password-input > div:last-of-type,
.register-auth-content .password-input > div {
    position: relative;
    display: flex;
    align-items: center;
}

.login-auth-content .password-input > div:last-of-type > i,
.register-auth-content .password-input > div > i {
    position: absolute;
    right: 10px;
    pointer-events: all;
    cursor: pointer;
    color: #9A9A9A;
}

.login-auth-content .password-input > div:last-of-type > input,
.register-auth-content .password-input > div > input {
    padding-right: 30px;
}

.login-btn,
.register-btn {
    background-color: #8DC63F;
    border: 1px solid transparent;
    border-radius: 5px;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #FFFFFF;
    width: 100%;
    height: 40px;
}

.login-auth-content > p,
.register-auth-content > p {
    font-weight: 300;
    font-size: .75rem;
    line-height: 1rem;
    color: #000000;
    margin: 20px 0 0;
}

.post-registration-content {
    padding: 57px 50px 38px;
    /* width: 434px; */
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.post-registration-message > h2 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
    margin-bottom: 20px;
}

.post-registration-message > p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #000000;
}

.post-registration-content > a {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #8DC63F;
    text-decoration: none;
}

.post-registration-content button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    color: #8DC63F;
    border: none;
    background-color: white;
}

.bottom-page-ad {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.bottom-page-ad > div {
    width: 86%;
    max-width: 970px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #B1B1B1;
}


@media (max-width: 480px) {
    .login-auth-content,
    .register-auth-content,
    .post-registration-content {
        padding: 36px 30px;
    }
}


@media (max-width: 435px) {
    .authentication-container {
        width: calc(100vw - 20px);
    }
}