footer {
    padding: 50px 50px 40px;
    background-color: #414042;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.footer-link-heading {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 3px;
}

footer a {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1rem;
    margin: 4px 0px!important;
    color: #FFFFFF;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: #FFFFFF;
}

.subscribtion-message {
    font-weight: 400;
    font-size: .875rem;
    line-height: 1rem;
}

.subscribtion-message > span {
    padding: 0!important;
    margin: 4px 0px;
}

.subscribe-btn {
    position: relative;
    display: flex;
    align-items: center;
    padding: 15px 0px;
    max-width: 320px;
}

.subscribe-btn > input {
    border: 1px solid #FFFFFF;
    border-radius: 25px;
    height: 35px;
    background-color: transparent;
    color: #FFFFFF;
    padding-right: 95px;
    max-width: 320px;
}

.subscribe-btn > input::placeholder {
    color: #FFFFFF;
}

.subscribe-btn > input:focus-visible {
    outline: none!important;
    outline-color: transparent;
}

.subscribe-btn button {
    position: absolute;
    border: 1px solid transparent;
    border-radius: 25px;
    background-color: #8DC63F;
    font-weight: 700;
    font-size: .875rem;
    line-height: 1rem;
    color: #FFFFFF;
    height: 35px;
    width: 85px;
    right: 0px;
}

.social-media-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px!important;
    margin-top: 8px;
}


@media (max-width: 768px) {

    footer {
        padding: 35px 40px 50px;
    }

    footer > .row {
        flex-direction: column-reverse;    
    }

    footer > .row > .col > .row > .col {
        max-width: fit-content;
    } 

    .footer-links .col {
        margin-bottom: 20px;
    }

    .footer-links .col:last-of-type {
        margin-bottom: 20px;
        margin-left: 13px;
    }

    .footer-links .col:last-of-type > div {
        width: 100%;
    }
}


@media (max-width: 480px) {

    footer {
        padding: 35px 20px 50px;
    }

    .footer-links .row {
        flex-direction: column;
    }

    .footer-links .column-4 {
        order: 1;
    }
    
    .footer-links .column-1 {
        order: 2;
    }

    .footer-links .column-2 {
        order: 3;
    }

    .footer-links .column-3 {
        order: 4;
    }
}