<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends './layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'core/Assets/css/about_us.css' %}">
    
    {% endblock %}

    <title>{% block title %}Todo About Us{% endblock %}</title>
</head>

<body>
    {% block body %}
    <header>
        <p>La estrategia de Todo.com.ec es convertirse en el lugar al que acuden primero cuando esten en busca de un
            bien.</p>
        <p>Lograremos esto mediante la creación de un mercado digital más simple y eficiente.</p>
    </header>

    <section class="about-us-section">
        <div class="about-us-container">
            <div class="about-us-card">
                <div class="about-us-image">
                    <img src="{% static 'core/Assets/images/about-us-1.svg' %}" alt="">
                </div>
                <div class="about-us-description">
                    <h3>Nuestra Mision</h3>
                    <p>Nuestra misión es interrumpir la industria de bienes raíces y el mercado de bienes online de
                        Ecuador, proporcionando a los compradores, vendedores y agentes inmobiliarios los recursos que
                        necesitan, para tener todo en un solo lugar.</p>
                </div>
            </div>
            <div class="about-us-card">
                <div class="about-us-image">
                    <img src="{% static 'core/Assets/images/about-us-1.svg' %}" alt="">
                </div>
                <div class="about-us-description">
                    <h3>Nuestra Mision</h3>
                    <p>Nuestra misión es interrumpir la industria de bienes raíces y el mercado de bienes online de
                        Ecuador, proporcionando a los compradores, vendedores y agentes inmobiliarios los recursos que
                        necesitan, para tener todo en un solo lugar.</p>
                </div>
            </div>
        </div>
        <div class="news-section" id="news">
            <h2>News</h2>
            <div class="about-us-news-container">
                <div class="about-us-card">
                    <div class="about-us-image">
                        <img src="{% static 'core/Assets/images/about-us-1.svg' %}" alt="">
                    </div>
                    <div class="about-us-description">
                        <h3>Nuestra Mision</h3>
                        <p>Nuestra misión es interrumpir la industria de bienes raíces y el mercado de bienes online de
                            Ecuador, proporcionando a los compradores, vendedores y agentes inmobiliarios los recursos que
                            necesitan, para tener todo en un solo lugar.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}
</body>

</html>