<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/core/css/about_us.css' %}">
    
    {% endblock %}

    <title>{% block title %}Todo About Us{% endblock %}</title>
</head>

<body>
    {% block body %}
    <header>
        <p data-i18n="about-us-page-heading-message-1">The strategy of Todo.com.ec is to become the place they go first when they are looking for a good.</p>
        <p data-i18n="about-us-page-heading-message-2">We will achieve this by creating a simpler and more efficient digital marketplace.</p>
    </header>

    <section class="about-us-section">
        <div class="about-us-container">
            <div class="about-us-card">
                <div class="about-us-image">
                    <img src="{% static 'Assets/core/images/about-us-1.svg' %}" alt="">
                </div>
                <div class="about-us-description">
                    <h3 data-i18n="about-us-page-card-1-heading">Nuestra Mision</h3>
                    <p data-i18n="about-us-page-card-1-message">Our mission is to disrupt the real estate industry and Ecuador's online property market, providing buyers, sellers and real estate agents with the resources they need, to have everything in one place.</p>
                </div>
            </div>
            <div class="about-us-card">
                <div class="about-us-image">
                    <img src="{% static 'Assets/core/images/about-us-2.svg' %}" alt="">
                </div>
                <div class="about-us-description">
                    <p data-i18n="about-us-page-card-2-pre-heading">Apoyando a los corredores e inmobiliarias</p>
                    <h3 data-i18n="about-us-page-card-2-heading">A single place with all the country's goods at your disposal.</h3>
                    <p>
                        <span data-i18n="about-us-page-card-2-message-part-1">We will be the first site with all the goods available nationwide, for one reason only, cost.</span>
                        <br>
                        <span data-i18n="about-us-page-card-2-message-part-2">At Todo.com.ec you can start advertising at no cost.</span></p>
                </div>
            </div>
        </div>
        <div class="news-section" id="news">
            <h2 data-i18n="about-us-page-news">News</h2>
            <div class="about-us-news-container">
                <!-- <div class="about-us-card">
                    <a href="#">
                        <div class="about-us-image">
                            <img src="{% static 'Assets/core/images/news_img.svg' %}" loading="lazy" alt="News Image" />
                        </div>
                    </a>
                    <a href="#">
                        <div class="about-us-description">
                            <h3>Acqua Gardens es el nuevo proyecto de Pronobis y Coloncorp</h3>
                            <p>Sostenibilidad y entretenimiento son los dos pilares fundamentales bajo los cuales fue concebido el proyecto, que cumple los requisitos de la ordenanza verde del Municipio de Guayaquil.</p>
                        </div>
                    </a>
                </div> -->
                {% if news_list.data %}
                {% for obj in news_list.data %}
                    <div class="about-us-card">
                        <a href="{% url 'news' pk=obj.id %}">
                            <div class="about-us-image">
                                <img src="{{obj.picture}}" loading="lazy" alt="News Image" />
                            </div>
                        </a>
                        <a href="{% url 'news' pk=obj.id %}">
                            <div class="about-us-description">
                                <h3>{{obj.title|title}}</h3>
                                <p>{{obj.content}}</p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}
</body>

</html>