<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/core/css/forgot_password.css' %}">
    <script src="https://kit.fontawesome.com/0d5a0a2089.js" crossorigin="anonymous"></script>

    {% endblock %}

    <title>{% block title %}Todo Forgot Password{% endblock %}</title>
</head>

<body>
    {% block body %}
    <section class="forget-password-section">
        <div class="forget-password-container">
            <div class="forget-password-card">
                <div class="forget-password-content" id="forgot-password-content">
                    <form class="input-container" onsubmit="forgotPasswordForm(event);" novalidate>
                        {% csrf_token %}
                        <div class="content-header">
                            <svg width="66" height="66" viewBox="0 0 66 66" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="5" y="5" width="56" height="56" rx="28" fill="#F3FEE7" />
                                <path
                                    d="M38.8333 29.4999C38.8333 28.9028 38.6055 28.3057 38.1499 27.8501C37.6943 27.3945 37.0972 27.1667 36.5 27.1667M36.5 36.5C40.366 36.5 43.5 33.366 43.5 29.5C43.5 25.634 40.366 22.5 36.5 22.5C32.634 22.5 29.5 25.634 29.5 29.5C29.5 29.8193 29.5214 30.1336 29.5628 30.4415C29.6309 30.948 29.6649 31.2013 29.642 31.3615C29.6181 31.5284 29.5877 31.6184 29.5055 31.7655C29.4265 31.9068 29.2873 32.046 29.009 32.3243L23.0467 38.2866C22.845 38.4884 22.7441 38.5893 22.6719 38.707C22.608 38.8114 22.5608 38.9252 22.5322 39.0442C22.5 39.1785 22.5 39.3212 22.5 39.6065V41.6333C22.5 42.2867 22.5 42.6134 22.6272 42.863C22.739 43.0825 22.9175 43.261 23.137 43.3728C23.3866 43.5 23.7133 43.5 24.3667 43.5H27.1667V41.1667H29.5V38.8333H31.8333L33.6757 36.991C33.954 36.7127 34.0932 36.5735 34.2345 36.4945C34.3816 36.4123 34.4716 36.3819 34.6385 36.358C34.7987 36.3351 35.052 36.3691 35.5585 36.4372C35.8664 36.4786 36.1807 36.5 36.5 36.5Z"
                                    stroke="#8DC63F" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="5" y="5" width="56" height="56" rx="28" stroke="#FAFEF5" stroke-width="10" />
                            </svg>
                            <h2 data-i18n="forgot-password-page-forgot-password">Forgot password?</h2>
                            <p data-i18n="forgot-password-page-message">No worries, we'll send you reset instructions.</p>
                        </div>
                        <div class="input-group">
                            <div class="input">
                                <span class="input-label" data-i18n="forgot-password-page-email">Email</span>
                                <input class="input-field" type="email" name="email" data-i18n="[placeholder]forgot-password-page-enter-your-email" placeholder="Enter your email" />
                                <small class="email-msg input-error-msg"></small>
                            </div>
                        </div>
                        <button type="submit" class="reset-password-btn">
                            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                            <span class="btn-text" data-i18n="forgot-password-page-reset-password">Reset Password</span>
                        </button>
                        <a class="back-link" href="{% url 'accounts' %}">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.3332 10H4.6665M4.6665 10L10.4998 15.8333M4.6665 10L10.4998 4.16667"
                                    stroke="#475467" stroke-width="1.66667" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <span data-i18n="back-to-login">Back to log in</span>
                        </a>
                    </form>
                </div>
                <div class="post-content hide" id="post-content">
                    <div class="post-content-container">
                        <div class="content-header">
                            <svg width="66" height="66" viewBox="0 0 66 66" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect x="5" y="5" width="56" height="56" rx="28" fill="#F3FEE7" />
                                <path
                                    d="M21.3335 29.2667C21.3335 27.3066 21.3335 26.3265 21.715 25.5778C22.0505 24.9192 22.586 24.3838 23.2445 24.0482C23.9932 23.6667 24.9733 23.6667 26.9335 23.6667H39.0668C41.027 23.6667 42.0071 23.6667 42.7558 24.0482C43.4144 24.3838 43.9498 24.9192 44.2854 25.5778C44.6668 26.3265 44.6668 27.3066 44.6668 29.2667V36.7334C44.6668 38.6936 44.6668 39.6737 44.2854 40.4224C43.9498 41.0809 43.4144 41.6164 42.7558 41.9519C42.0071 42.3334 41.027 42.3334 39.0668 42.3334H26.9335C24.9733 42.3334 23.9932 42.3334 23.2445 41.9519C22.586 41.6164 22.0505 41.0809 21.715 40.4224C21.3335 39.6737 21.3335 38.6936 21.3335 36.7334V29.2667Z"
                                    fill="#8DC63F" />
                                <path
                                    d="M21.3335 27.1667L30.8592 33.8348C31.6306 34.3747 32.0163 34.6447 32.4358 34.7493C32.8064 34.8416 33.194 34.8416 33.5645 34.7493C33.984 34.6447 34.3697 34.3747 35.1411 33.8348L44.6668 27.1667M26.9335 42.3334H39.0668C41.027 42.3334 42.0071 42.3334 42.7558 41.9519C43.4144 41.6164 43.9498 41.081 44.2854 40.4224C44.6668 39.6737 44.6668 38.6936 44.6668 36.7334V29.2667C44.6668 27.3066 44.6668 26.3265 44.2854 25.5778C43.9498 24.9192 43.4144 24.3838 42.7558 24.0482C42.0071 23.6667 41.027 23.6667 39.0668 23.6667H26.9335C24.9733 23.6667 23.9932 23.6667 23.2445 24.0482C22.586 24.3838 22.0505 24.9192 21.715 25.5778C21.3335 26.3265 21.3335 27.3066 21.3335 29.2667V36.7334C21.3335 38.6936 21.3335 39.6737 21.715 40.4224C22.0505 41.081 22.586 41.6164 23.2445 41.9519C23.9932 42.3334 24.9733 42.3334 26.9335 42.3334Z"
                                    stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                <rect x="5" y="5" width="56" height="56" rx="28" stroke="#FAFEF5" stroke-width="10" />
                            </svg>
                            <h2 data-i18n="resend-email-page">Check your email</h2>
                            <p data-i18n="resend-email-page-message">We sent a password reset link to</p>
                            <p id="post-content-email"></p>
                        </div>
                        <!-- <button type="button" class="reset-password-btn">
                            <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                            <span class="btn-text">Open email app</span>
                        </button> -->
                        <form action="" class="post-content-form" onsubmit="resendVerificationEmailForm(event);">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="hassanarif.dev@gmail.com" id="resend-email-input"/>
                            <span><span data-i18n="resend-email-page-didnt-receive-email">Didn't receive the email?</span><button type="submit">
                                <span class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
                                <span class="btn-text" data-i18n="resend-email-page-click-to-resend">Click to resend</span>
                            </button></span>
                            <small class="email-msg input-error-msg"></small>
                        </form>
                        <a class="back-link" href="{% url 'accounts' %}">
                            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M16.3332 10H4.6665M4.6665 10L10.4998 15.8333M4.6665 10L10.4998 4.16667"
                                    stroke="#475467" stroke-width="1.66667" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </svg>
                            <span data-i18n="back-to-login">Back to log in</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}
</body>
{% block scripts %}
<script src="{% static 'Assets/core/js/forgotPassword.js' %}"></script>
{% endblock %}

</html>