<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/core/css/terms_policy.css' %}">
    
    {% endblock %}

    <title>{% block title %}Todo Privacy Policy{% endblock %}</title>
</head>

<body>
    {% block body %}
    <section class="terms-policy-section">
        <div class="terms-policy">
            <h1>Política de Privacidad de <a href="http://www.todo.com.ec/">www.todo.com.ec</a></h1>
            <!-- <p>This Privacy Policy describes how we collect, use, and protect the personal information you provide when using our property selling website. By accessing or using our website, you consent to the collection, use, and disclosure of your personal information as described in this Privacy Policy.</p> -->
            <ol>
                <li>
                    <h2>Recopilación de Información</h2>
                    <ol>
                        <li>Al utilizar <a href="http://www.todo.com.ec/">www.todo.com.ec</a>, podemos recopilar información personal que usted proporcione voluntariamente, como su nombre, dirección de correo electrónico, número de teléfono y preferencias de búsqueda de propiedades.</li>
                        <li>También podemos recopilar automáticamente cierta información técnica, como direcciones IP, información del navegador y cookies, para mejorar la funcionalidad y seguridad del sitio web.</li>
                    </ol>
                </li>
                <li>
                    <h2>Uso de la Información</h2>
                    <ol>
                        <li>Utilizamos la información recopilada para proporcionarle servicios relacionados con bienes raíces y para personalizar su experiencia en el sitio web.</li>
                        <li>No compartiremos su información personal con terceros no afiliados sin su consentimiento expreso, excepto cuando sea necesario para cumplir con las leyes y regulaciones aplicables.</li>
                    </ol>
                </li>
                <li>
                    <h2>Cookies y Tecnologías Similares</h2>
                    <ol>
                        <li>Utilizamos cookies y tecnologías similares para mejorar la experiencia del usuario y recopilar información técnica. Puede ajustar la configuración de su navegador para controlar o rechazar estas tecnologías.</li>
                    </ol>
                </li>
                <li>
                    <h2>Enlaces a Terceros</h2>
                    <ol>
                        <li><a href="http://www.todo.com.ec/">www.todo.com.ec</a> puede contener enlaces a sitios web de terceros. No somos responsables de las prácticas de privacidad ni del contenido de estos sitios externos.</li>
                    </ol>
                </li>
                <li>
                    <h2>Seguridad de Datos</h2>
                    <ol>
                        <li>Implementamos medidas de seguridad razonables para proteger la información personal contra el acceso no autorizado o la divulgación. Sin embargo, ninguna transmisión de datos por Internet es completamente segura.</li>
                    </ol>
                </li>
                <li>
                    <h2>Acceso y Modificación de Datos</h2>
                    <ol>
                        <li>Usted tiene el derecho de acceder, corregir o eliminar la información personal que hemos recopilado. Puede ponerse en contacto con nosotros utilizando la información proporcionada al final de esta política.</li>
                    </ol>
                </li>
                <li>
                    <h2>Cambios en la Política de Privacidad</h2>
                    <ol>
                        <li>Nos reservamos el derecho de modificar esta Política de Privacidad en cualquier momento. Cualquier cambio se publicará en esta página y será efectivo cuando se publique.</li>
                    </ol>
                </li>
                <li>
                    <h2>Consentimiento</h2>
                    <ol>
                        <li>Al utilizar <a href="http://www.todo.com.ec/">www.todo.com.ec</a>, usted acepta los términos de esta Política de Privacidad y otorga su consentimiento para la recopilación, uso y divulgación de su información personal según lo descrito en esta política.</li>
                    </ol>
                </li>
                <li>
                    <h2>Contacto</h2>
                    <ol>
                        <li> Si tiene preguntas o inquietudes sobre esta Política de Privacidad, puede ponerse en contacto con nosotros en <a href="mailto:hola@todo.com.ec">hola@todo.com.ec</a>.</li>
                    </ol>
                </li>
            </ol>
            <!-- <p>Please read these terms and conditions carefully before using our website. By using our platform, you acknowledge that you have read, understood, and agreed to be bound by these terms.</p> -->
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}

</body>

{% block scripts %}
{% endblock %}

</html>