<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/core/css/terms_policy.css' %}">
    
    {% endblock %}

    <title>{% block title %}Todo Terms & Conditions{% endblock %}</title>
</head>

<body>
    {% block body %}
    <section class="terms-policy-section">
        <div class="terms-policy">
            <h1>Términos y Condiciones de Uso para <a href="http://www.todo.com.ec/">www.todo.com.ec</a></h1>
            <!-- <p>Welcome to our property selling website. The following terms and conditions govern your use of this platform and any services offered through it. By accessing or using our website, you agree to comply with and be bound by these terms and conditions. If you do not agree with any part of these terms, please refrain from using our services.</p> -->
            <ol>
                <li>
                    <h2>Aceptación de los Términos</h2>
                    <ol>
                        <li>Al acceder o utilizar <a href="http://www.todo.com.ec/">www.todo.com.ec</a>, usted reconoce y acepta cumplir con estos Términos y Condiciones (“Términos”). Si no está de acuerdo con estos Términos, le pedimos que se abstenga de utilizar el sitio web.</li>
                    </ol>
                </li>
                <li>
                    <h2>Uso del Sitio Web</h2>
                    <ol>
                        <li><a href="http://www.todo.com.ec/">www.todo.com.ec</a> proporciona información relacionada con listados de bienes raíces, propiedades y servicios asociados. La información proporcionada es solo con fines informativos y no constituye asesoramiento legal, financiero ni profesional.</li>
                        <li>Usted acepta utilizar el sitio web de manera legal y no participar en actividades que puedan dañar, interrumpir o interferir con la funcionalidad del sitio web o la experiencia de otros usuarios.</li>
                    </ol>
                </li>
                <li>
                    <h2>Listados de Propiedades e Información</h2>
                    <ol>
                        <li>Los listados de propiedades, descripciones y otros contenidos en el sitio web son proporcionados por terceros, como agentes inmobiliarios, vendedores y otras fuentes. No verificamos la exactitud de esta información y no somos responsables de errores, omisiones o inexactitudes.</li>
                        <li>Usted reconoce que cualquier confianza en la información proporcionada en el sitio web es bajo su propio riesgo. Se recomienda verificar de manera independiente cualquier información relacionada con propiedades antes de tomar decisiones.</li>
                    </ol>
                </li>
                <li>
                    <h2>Limitación de Responsabilidad</h2>
                    <ol>
                        <li><a href="http://www.todo.com.ec/">www.todo.com.ec</a> y sus propietarios, afiliados, socios, empleados y agentes no serán responsables por daños directos, indirectos, incidentales, consecuentes o especiales derivados de o relacionados de alguna manera con el uso del sitio web, incluyendo, pero no limitándose a, errores, interrupciones, inexactitudes u omisiones.</li>
                        <li>Usted acepta liberar a <a href="http://www.todo.com.ec/">www.todo.com.ec</a> y a las entidades mencionadas anteriormente de cualquier reclamo, demanda o daño, ya sea derivado de contratos, agravios u otras bases legales.</li>
                    </ol>
                </li>
                <li>
                    <h2>Propiedad Intelectual</h2>
                    <ol>
                        <li>Todo el contenido, incluyendo, pero no limitado a, texto, imágenes, gráficos, logotipos y marcas comerciales en <a href="http://www.todo.com.ec/">www.todo.com.ec</a> están protegidos por las leyes de propiedad intelectual y son propiedad de sus respectivos dueños.</li>
                        <li>No está permitido reproducir, distribuir, modificar o crear obras derivadas basadas en el contenido del sitio web sin obtener la autorización adecuada de los respectivos propietarios.</li>
                    </ol>
                </li>
                <li>
                    <h2>Cambios a los Términos y al Sitio Web</h2>
                    <ol>
                        <li><a href="http://www.todo.com.ec/">www.todo.com.ec</a> se reserva el derecho de modificar o actualizar estos Términos en cualquier momento sin previo aviso. El uso continuado del sitio web después de tales cambios implica la aceptación de los Términos revisados.</li>
                    </ol>
                </li>
                <li>
                    <h2>Ley Aplicable</h2>
                    <ol>
                        <li>Estos Términos se regirán por y se interpretarán de acuerdo con las leyes de Ecuador. Cualquier disputa derivada de o relacionada con estos Términos o el uso del sitio web estará sujeta a la jurisdicción exclusiva de los tribunales de Ecuador.</li>
                    </ol>
                </li>
            </ol>
            <!-- <p>Please read these terms and conditions carefully before using our website. By using our platform, you acknowledge that you have read, understood, and agreed to be bound by these terms.</p> -->
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}

</body>

{% block scripts %}
{% endblock %}

</html>