<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% extends '../layouts/base.html' %}
    {% load static %}

    {% block links %}

    <link rel="stylesheet" href="{% static 'Assets/core/css/verify_email.css' %}">
    <script src="https://kit.fontawesome.com/0d5a0a2089.js" crossorigin="anonymous"></script>

    {% endblock %}

    <title>{% block title %}Verify Email{% endblock %}</title>
</head>

<body>
    {% block body %}
    <section class="email-verification-section">
        <div class="email-verification-container">
            <div class="email-verification-confirmation">
                <h2>Email Confirmation Message</h2>
                <p>Email verification {{msg}}</p>
                <a href="{% url 'accounts' %}">Login</a>
            </div>  
        </div>
        <div class="bottom-page-ad">
            <div>
                <span>Google Adsense</span>
            </div>
        </div>
    </section>

    {% endblock %}
</body>
{% block scripts %}
{% endblock %}

</html>